<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='game.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap" rel="stylesheet">
</head>

  <div class="welcome_page">
   <a href="scramble"><button id="scramble">Start Game</button></a>
   <h4>Rules:</h4>
   <p>->The letters are jumbled, find the right order</p>
   <p>->You have 3 lifes, after which the game will be over </p>
   <p>->For every wrong word one life will be reduced</p>
   <p>->Enter the words in lower case only</p>
  </div>