<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap" rel="stylesheet">
</head>
<div class="head-container">
  <h1>WORD SCRAMBLER</h1>
  <header>
    <h2>A fun way to improve your vocabulary!</h2>
  </header>
  <div class="flex-container">
    <img src="https://img.freepik.com/free-photo/play-scrabble-letters-black-background_23-2148101376.jpg" alt="">
    <div class="home-buttons">
      <a href="login"><button type="button" id="login">LOGIN</button></a>
      <a href="sign_up"><button type="button" id="sign_up">SIGN UP</button></a>
    </div>
  </div>
</div>



