<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sign_up.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap" rel="stylesheet">
</head>
<div class="signup-page">
  <header>
    <h2 class="signup_title">Welcome New Player</h2>
  </header>

  <form class="signup_form" action="your_signup" method="post">
    <label for="email">Login ID</label>
    <input name="email" required type="email" value="">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" value="" required>
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>

